{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<div class="content">
    <div class="flexboxes">
        <h1>About me</h1>
    </div>
    <hr class="flexboxes h1hr">
    <br>
    
    <div class="flexboxes">
        <h3>I'm ready to work, and I'm ready to learn! I am currently located in Portland, Oregon.</h3>
    </div>
    <div class="about">
        <div class="text">
            <p class="about_text">
                <b>     I have over</b> 5 years' experience as a project manager and property director. I even have one year of experience as an English teacher in Japan!
                At the beginning of 2019 I made a big change in my life and began studying programming. I wanted something captivating where I could challenge myself and secure an opportunity to build towards the future. While I'm looking primarily for a backend role, I hope you can see from this website that I am passionate about every level of the stack. 
            </p>
    
            <p class="about_text">
                <b>When I'm not </b> working I like to sing, study Japanese, practice calligraphy, and play video games. I've even started cooking since lockdown began, which I think makes my mom very proud. I've lived in six cities in three different countries. 
            </p>
            
        </div>
        <div class="pic_container">
            <img id="dylan_pic" src="{% static 'portfolio/headshot/dylan_calray_bandw.jpg' %}" type="image/png">
            
        </div>
        
    </div>
    
    <div id="slideshow_section">
        <div>
            <h3 id="personal_experience">Now For a Personal Experience!</h3>
            <p id="personal_under"><b>To let you</b> see a little more about my hobbies and what I'm passionate about, please take a look at some of the photos I've accumulated through some of my adventures. <br> <br> <b> These will be </b> either cool pictures I've taken or pictures of things I'm passionate about! </p>

        </div>

        <div id="slides_and_buttons">
            
            <div id="slideshow">
                {% for picture, caption, index in pictures %}
                
                <img class="pic_slide" src="{% static picture %}" >
                
                {% if caption is not None %}
                <div class="caption_container">
                    <p class="more_info">Click for more information</p>
                    <p class="gon_give_it_to_ya">X</p>
                    <p class="caption">{{ caption|linebreaksbr }}</p>
                </div> 
                {% else %}
                <div class="caption_container">
                    <p class="more_info">{{caption}}</p>
                </div> 
                {% endif %}
                
                {% endfor %}
            </div>
            
            <div class="arrow_section">
                <button class="arrow_button left_arrow" onclick="plusDivs(-1)">&#10094;</button>
                <button class="arrow_button right_arrow" onclick="plusDivs(1)">&#10095;</button>

            </div>

        </div>
        
    </div>
    
    <h2 id="welcome">Welcome to my site!</h2>
</div>

{% endblock %}