{% extends 'portfolio/base.html' %}
{% block content %}
<div class="content">
    <h1 class="flexboxes">Projects</h1>
    <hr class="flexboxes h1hr">

    <div class="project_area">
        <div class="project">
            <h2 class="flexboxes">Kvetchup</h2>
            <p class="flexboxes">Kvetchup is a simple app designed to help people complain to and rate certain companies.</p>
            <p class="flexboxes">...</p>
            <p class="flexboxes"><i> Python, Django, SQLite, Vue.js, Axios, HTML, CSS</i></p>

        </div>

        <div class="project">
            <h2 class="flexboxes">Job Activity Tracker</h2>
            <p class="flexboxes">Site helps to organize activities. Groups them by week, and then by day.</p>
            <p class="flexboxes">...</p>
            <p class="flexboxes"><i> Python, Django, SQLite, Materialize, JavaScript, Vue.js, HTML, CSS</i></p>

        </div>

    </div>

</div>
{% endblock %}
