{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAT</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- icon -->
    <link rel="shortcut icon" href="{% static 'jat/icons/favicon.ico' %}" type="image/x-icon">
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dorsa&family=Raleway:wght@300;400&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'jat/style.css' %}" />

</head>
<body>
    <!-- navbar section -->
    <nav>
        <div class="nav-wrapper teal darken-4">
            <span class="logo">Job Activity Tracker</span>
        </div>
    </nav>

    <div class="content" id="app">
        <!-- section to add activity -->   
        <button class="waves-effect waves-light teal lighten-2 btn" v-on:click="showHideEvent">[[show_select]]</button>
            <!-- select form type -->
            <div class="input-field" v-show="show_select != 'Create Event'">
                <select v-model="application_or_activity"> 
                    <option value="" disabled selected>Choose Form Type</option>
                    <option value="activity">Activity</option>
                    <option value="application">Application</option>
                </select>
            </div>
                <!-- activity form -->
                <div id="activity_form" v-show="application_or_activity == 'activity'">
                    <form action="{% url 'jat:new_act' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="new_act_date" class="datepicker" placeholder="Date" required>
                        <!-- <input type="date" name="new_act_date" id="" required> -->
                        <input type="text" name="new_activity" placeholder="Activity Description" required>
                        <button class="teal lighten-2 btn">Submit</button>
                    </form>
                </div>

                <!-- application form -->
                <div id="application_form" v-show="application_or_activity == 'application'">
                    <form action="{% url 'jat:new_app' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="new_app_date" class="datepicker" placeholder="Date" required>
                        <!-- <input type="date" name="new_app_date" id="" required> -->
                        <input type="text" name="new_app_co_name" placeholder="Company" required>
                        <input type="text" name="new_app_location" placeholder="Location" required>
                        <input type="text" name="new_app_contact_method" placeholder="Contact Method" required>
                        <input type="text" name="new_app_work_type" placeholder="Work Type" required>
                        <input type="text" name="new_app_results" placeholder="Results" required>
                        <button class="teal lighten-2 btn">Submit</button>
                    </form>
                </div>

        <!-- collapsible dates -->
        <ul class="collapsible collapsible-accordion">
            {% for week in all_weeks %}

                <li>
                    <div class="collapsible-header center-align">{{week.week_beginning}} &mdash; {{week.week_end}}</div>
                        {% for date in week.dates.all %}
                            {% for application in date.applications.all %}
                                <div class="collapsible-body">
                                    <b>{{date}} : Application</b>  {{application}} | {{application.location}} | {{application.contact_method}} | {{application.work_type}} | {{application.results}}
                                </div>
                            {% endfor %}
                            {% for activity in date.activities.all %}
                            <div class="collapsible-body">
                                <b>{{date}} : Activity</b> {{activity}}
                            </div>
                            {% endfor %}
                        {% endfor %}
                </li>
        
            {% endfor %}

        </ul>
        
        <!-- profile logo -->
        <img class="dl_button" src="{% static 'portfolio/icons/favicon-white.ico' %}" type="image/png"
            v-on:click="resetToProject"></img>

        <!-- modal back to profile projects page -->
        <transition name="fade">
            <div v-if="toProject" class="modal_bg" v-on:click="resetToProject">
                <div class="to_project">
                    <div class="project_modal_text">
                        <p id="to_project_title">Would you like to return to the DL Projects page?</p>
                        <div class="modal_buttons">
                            <a class="to_project_text" href="{% url 'portfolio:projects' %}">Yes</a>
                            <a class="to_project_text">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <!-- JS Section -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // accordion
        document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.collapsible');
                var instances = M.Collapsible.init(elems);
            });
        
        document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });

        // date picker
        document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {
                    format:"2020-mm-dd", 
                    autoClose: true,
                    min: new Date(1000, 0, 1),
                    max: new Date(3000, 0, 1)});
            });

        let app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data: {
                    show_select: "Create Event",
                    application_or_activity: "", 
                    toProject: false,
                },
                methods: {
                    showHideEvent: function () {
                        if (this.show_select === "Create Event") {
                            this.show_select = "Hide Event Creator"
                        } else {
                            this.show_select = "Create Event"
                        }
                        console.log(this.show_select == 'Create Event')
                    },  
                    resetToProject: function () {
                        if (this.toProject) {
                            this.toProject = false
                        } else {
                            this.toProject = true
                        }
                    },
                }
            })
    </script>
</body>
</html>