* {
    margin: 0;
    padding: 0;
}

/* navbar */

.logo{
    padding: 5px;
    margin: 5px;
}

.title{
    font-family: 'Dorsa', sans-serif;
    font-size: 150px;
    align-items: center;
    margin: 0;
    padding: 0; 
}



nav{
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.menu_section{
    display: flex;
    justify-content: flex-end;
}

.menu_links{
    color: grey;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.active{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.menu_links:hover{
    background-color: #D9D9D9;
    color: #595959;
}

.menu_links:active{
    background-color: #595959;
    color: white;
}

hr{
    padding: 0px;
    margin: 0px;
}

/* body */
body{
    background-color: white;
}

.content {
    padding: 80px 10px 10px 10px;
    margin: 5px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.flexboxes{
    display: flex;
    justify-content: center;
}

.h1hr{
    max-width: 33vw;
    margin: 10px auto 40px auto;
}

h2{
    font-weight: normal;
}

/* projects page */
.project_area{
    display: flex;
    background-color: black;
}

.project{
    flex: 1;
    border: 5px solid grey;
    background-color: white;
    margin: 20px; 
    height: 200px;
}