* {
    margin: 0;
    padding: 0;
}

/* navbar */

.logo{
    padding: 5px;
    margin: 5px;
}

.title{
    font-family: 'Dorsa', sans-serif;
    font-size: 100px;
    align-items: center;
    margin: 0;
    padding: 0; 
}



nav{
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.menu_section{
    display: flex;
    justify-content: flex-end;
}

.menu_links{
    color: grey;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.active{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.menu_links:hover{
    background-color: #D9D9D9;
    color: #595959;
}

.menu_links:active{
    background-color: #595959;
    color: white;
}

hr{
    padding: 0px;
    margin: 0px;
}

/* body */
body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

/* keyframs to fade content in after loading */
.content {
    padding: 80px 10px 10px 10px;
    margin: 5px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.flexboxes{
    display: flex;
    justify-content: center;
}

.h1hr{
    max-width: 33vw;
    margin: 10px auto 100px auto;
}



/* projects page */
.project_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project_area{
    display: flex;
    margin: 20px;
    
}

.project{
    position: relative;
    border: 5px solid grey;
    background-color: white;
    width: 100%;
    text-align: center;
    top: 0px;
    transition: top ease 0.5s;
    overflow: hidden;
    padding: 10px;
}

.project:hover{
    top: -10px;
}

.project_links{
    color: grey;
    text-decoration: none;
}

.project_links:hover{
    text-decoration: underline;
    color: #595959;
}

.project_links:active{
    text-decoration: underline;
    color: black;
}

#kvetchup{
    font-family: 'Berkshire Swash', cursive;
    color: #FFD830;
}

#jat{
    font-family: 'Roboto', sans-serif;
    color: #004d40;
}

/* resume page */
.resume_text{
    text-align: center;
}


.resume_icon_container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.resume_icon{
    transition: 0.3s;
    padding: 50px;
}

.resume_icon:hover{
    border: 5px dashed grey;
    border-radius: 10%;
}

.resume_icon:active{
    transform: translateY(5px);
}

/* desktop exclusive formatting */
@media only screen and (min-width: 768px) {
    .title{font-size: 150px;}
    .project_box{flex-direction: row;}
    .project_area{
        width: 400px;
        height: 400px;
    }
    .project{padding: 100px 50px 50px 50px}
}